#logo {
    font-size: 3em;
    color: blue;
    font-weight: 900;
    background-color: rgb(255, 232, 21);
    width: fit-content;
    padding: 2px 7px;
    border-radius: 10px;
    font-family: "BarkingCat";
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 70px;
}

#container {
    display: flex;
    margin: 0px 50px;
    gap: 40px;
    
}

#main{
    flex: 1 1 50%;
}
#key-features {
    flex-grow: 1;
    background-color: rgb(4, 162, 236);
    border-radius: 20px;
    color: white;
    font-size: 1.5em;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}
@media screen and (max-width: 450px) {
    #container{
        margin: 0px 10px;
    }
}
@media screen and (max-width: 1000px) {
    #main{
        flex: initial;
    }
   #container{
    flex-direction: column;
   }
   #key-features{
    flex: initial;
   }
}
#name{
    font-size: 1.1em;
    padding: 10px;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 10px;
}
#key-features li{
    margin: 20px 0px;
}
#meet-creation {
    display: flex;
    gap: 10px;
}

#meet-creation>input {
    font-size: 1.1em;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
}


#meet-creation>button {
    outline: none;
    border: none;
    background-color: rgb(144, 144, 248);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
}

#meet-creation>p {
    height: inherit;
    display: flex;
    align-items: center;
    cursor: default;
    font-weight: 700;
    color: blue;
}

