.crossbutton {
    position: absolute;
    right: 0px;
    color: black;
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#panelpeople {
    position: fixed;
    transition: all 0.2s linear;
    top: 0px;
    right: -400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 100;
}
#handslist{
    padding: 10px;
    padding-top: 0px;
    min-height: 30%;
    max-height: 30%;
    overflow: auto;
}
#peoplelist {
    flex-grow: 1;
    padding: 10px;
    padding-top: 0px;
    overflow: auto;
}



.userdetails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.panelpeoname {
    flex: 1 1 100%;
}
